.contact-page-container {
    padding: 5vh 0 12vh 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-heading-container{
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
}

#contact-intro-text{
    font-size: 1.3em;
    padding-bottom: 50px;
    width: 80%;
}

.contact-form-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3E4D6A;
    width: 60%;
    border-radius: 25px;
    padding-right: 3%;
}

.contact-page-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    width: 80%;
    height: 100%;
}

.information-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    padding-bottom: 100px;
    padding-left: 2px;
}

.field{
    height: 50px;
    width: calc(90% / 2 - 12px);
}

.field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 18px;
    border: 0;
    background: #323E55;
    font-size: 1.2em;
    color: #c0c0c0;
} .field input:focus {
      border: 1px solid #faa658;
  }

  .message{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

#text-area{
    height: 100%;
    min-height: 150px;
    max-height: 400px;
    min-width: 48vw;
    max-width: 48vw;
    margin-left: 40px;
    outline: 0;
    padding: 12px 18px;
    border: 0;
    background: #323E55;
    font-size: 1.2em;
    color: #c0c0c0;
    margin-bottom: 30px;
} #text-area:focus {
     border: 1px solid #faa658;
 }

.button-area{
    display: flex;
    text-align: center;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
}

.button-area button{
    background-color: #faa658;
    border: none;
    color: #000000;
    padding: 1vh 1vw;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
} .button-area button:hover {
      background-color: #fa8c2c;
      cursor: pointer;
  }